*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&display=swap');
:root{
    --primary-color: #f2726a;
}
body{
    height:100vh ;
    background: linear-gradient(45deg, #00853e,#05c878);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "poppins";
    color: white;
}
.card{
    background: #2468;
    width: 300px;
    height: 400px;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
}
img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: center;
 
}
.card_img{
    width: 120px;
    height: 120px;
    border: 4px solid var(--primary-color);
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    transform: translateY(25px);
    transition: 0.3s;
}
.card p{
    color: var(--primary-color);
}
.card h2{
    margin-top: 35px;
}
.card_social{
    margin: 25px 0;
}
.card_social a{
    color: white;
    margin: 25px 20px;
    text-decoration: none;
    font-size: 20px;
    transition: 0.5s;
}
.card_social a:hover{
    color: #f2726a;

}
.card button{
    width: 150px;
    height: 40px;
    border: 1px solid var(--primary-color);
    background: transparent;
    color: white;
    border-radius: 10px;
    transition: 0.5s;
}
.card button:hover{
    background: #f2726a;
}
.card_img:hover{
    width: 100%;
    height: 100%;
    border-radius: unset;
    transform: unset;
    border: none;
}